{
	"discord": {
        "token": "",
		"name": {
			"client": "",
			"guilds": ["", ""]
		},
		"gnome": {
			"client": "",
			"guilds": ["", ""]
		}
	},
	"openai": {
		"organization": "",
		"apiKey": ""
	}
}

