{
        "discord": {
                "ranch": {
                        "token": "",
                        "client": "",
                        "guilds": [""]
                },
                "gnome": {
                        "token": "",
                        "client": "",
                        "guilds": [""]
                }
        },
        "google": {
                "key": ""
        }
}
